<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link th:href="@{/css/commons.css}" rel="stylesheet">
</head>
<body class="login-body">
<div class="header">
    <h1 class="site_logo">商品管理システム</h1>
</div>

<div class="login-form">
    <img th:src="@{/images/logo.png}" class="login-logo">
    <p class="error">[[ ${session.message} ]]</p>

    <form action="login" method="post" th:object="${loginForm}">
        <fieldset>
            <div class="cp_iptxt">
                <input class="base-input" type="text"  th:field="*{login_id}" name="loginId" placeholder="ID">
                <div class="error" th:each="error: ${#fields.errors('login_id')}">
                    [[ ${error} ]]
                </div>
            </div>

            <div>
                <input class="base-input" type="password" th:field="*{password}" name="pass" placeholder="PASS">
                <div class="error" th:each="error: ${#fields.errors('password')}">
                    [[ ${error} ]]
                </div>
            </div>
        </fieldset>
        <button id="login-btn" class="custom-btn" type="submit">
            ログイン
        </button>
    </form>
</div>
<script>
    'use strict'
    document.getElementById('login-btn').addEventListener('click', () => {
      location.href = './menu.html'
    })
</script>
</body>
</html>